:root {
  /* color variables */
  --clr-primary: #304ffe;
  --clr-primary-hover: #29e6a7;
  --clr-primary-dark: #039d69;
  --clr-gray100: #f0f7f8;
  --clr-gray200: #cfd8dc;
  --clr-gray300: #a7b7be;
  --clr-gray400: #6b7e86;
  --clr-gray500: #425a65;

  /* border radius */
  --radius: 0.2rem;

  --gutters: 24px;
}


/* Overall Styling
 *****************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: black;
  font-family: Verdana, sans-serif;
}

/* Navigation Bar
 ****************/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px;
  padding: 0.2rem 0.4rem;
  border-radius: var(--radius);
  background: rgba(0, 0, 0, 0.4); /* Black background with 0.4 opacity */
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.52);
}

@media screen and (min-width: 600px) {
  header {
    padding: 1rem 2rem;
    flex-direction: row;
    text-align: center;
  }
}

header h1 {
    text-align: center;
    font-size: 1.6rem;
}

@media screen and (min-width: 600px) {
    header h1 {
        text-align: none;
        font-size: 2.5rem;
    }
}

nav {
  margin: auto 0;
  position: relative;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.nav__link, .nav__link:visited {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

.nav__item + .nav__item {
  margin-left: 0.5rem;
}

@media screen and (min-width: 600px) {
    .nav__link, .nav__link:visited {
        font-size: 1.75rem;
    }

    .nav__item + .nav__item {
        margin-left: 2.0rem;
    }
}

.cart-total {
  position: absolute;
  right: -15%;
  top: -28%;
  border-radius: 8px;
  overflow: hidden;
  background: royalblue;
  color: #f1f1f1;
  padding: 0.1rem 0.3rem;
}

/* Footer
 ********/
footer {
  text-align: center;
  margin: 1.5rem 0;
}


/* Message Styling
 *****************/
.close-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  background: var(--font-color);
  line-height: 1;
  color: white;
}

.close-btn svg {
  display: inline-block;
  width: 12px;
  height: 12px;
}

.close-btn:hover {
  background: white;
  color: black;
}

.flash-message {
  background: #38CFD9;
  display: flex;
  justify-content: space-between;
  padding: 1rem var(--gutters);
  transition: opacity 1.0s;
}

.flash-message p,
.flash-message span {
  font-size: 1.1rem;
}

.flash-message-error {
  background: red;
  color: white;
}

.flash-message-success {
  background: green;
  color: white;
}

.flash-message-info {
  background: blue;
  color: white;
}