.cart-container {
  margin: 2.0rem auto;
  max-width: 600px;
}

.cart-title {
  margin-bottom: 2rem;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px black solid;
}

.item__image img {
  height: 8rem;
  object-fit: cover;
  display: block;
}

.item__body {
  margin-right: auto;
  padding-left: 1rem;
}

.item__subtotal {
  margin-left: auto;
  padding-right: 0.5rem;
}

h1 {
  text-align: right;
  padding-right: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem;
  border: 3px solid #215acb;
  /*background: #215acb;*/
  border-radius: var(--radius);
  cursor: pointer;
}

button a {
  text-decoration: none;
  font-size: 1.3rem;
}

.buttons__checkout {
  background: #215acb;
  color: white;
}

.buttons__checkout a {
  color: white;
}

.buttons__empty {
  background: white;
  color: #215acb;
}

.buttons__empty a {
  color: #215acb;
}