/* Cards
 *******/
.container {
  margin: 2.0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 0.3fr));
  grid-gap: 2.0rem;
  justify-content: center;
}

.card {
  overflow: hidden;
  box-shadow: 0px 2px 20px var(--clr-gray200);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__heading {
  position: relative;
}

.card__image {
  height: 16rem;
  width: 100%;
  object-fit: cover;
}

.card__items {
  position: absolute;
  top: 2%;
  left: 2%;
  border-radius: var(--radius);
  overflow: hidden;
  background: darkgrey;
  color: #f1f1f1;
  padding: 0.2rem 0.5rem;
}

.card__body {
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
}

.card__body p {
  margin-top: 0.5rem;
}

.card__button {
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem;
  border: 2px solid white;
  background: #215acb;
  border-radius: var(--radius);
  cursor: pointer;
}

.card__button a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}