<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Flask Toy Store</title>

    <!-- Local CSS file for styling the application-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">

    <!-- Additional Styling -->
    {% block styling %}
    {% endblock %}
  </head>

  <body>
    <header class="site-header">
      <h1>Flask Toy Store</h1>
      <nav>
        <ul>
          <li class="nav__item"><a class="nav__link" href="{{ url_for('index') }}">Toys</a></li>
          <li class="nav__item"><a class="nav__link" href="{{ url_for('shopping_cart') }}">Cart</a></li>
        </ul>
        <p class="cart-total">{{cart_total}}</p>
      </nav>
    </header>

    <div class="messages">
      <!-- flash messages - supported categories: success, info, error, message (default) -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash-message flash-message-{{ category }}">
              <p>{{ message }}</p>
              <span class="close-btn" onclick="this.parentElement.style.opacity=0;">
                <svg width="12" height="12" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                  <path d="m49.941 35.891 33.531-33.531 14.168 14.168-33.531 33.414 33.531 33.531-14.168 14.168-33.531-33.531-33.414 33.531-14.168-14.168 33.531-33.531-33.531-33.414 14.168-14.168z" fill-rule="evenodd" fill="currentColor"/>
                </svg>
              </span>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>

    <main class="content">
      <!-- child template -->
      {% block content %}
      {% endblock %}
    </main>

    <footer class="site-footer">
      <small>Patrick Kennedy - 2021</small>
    </footer>
  </body>
</html>
