{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock %}

{% block content %}
<div class="container">

  {% for toy in toys %}
    <div class="card">
      <div class="card__heading">
        <img
          src="{{ url_for('static', filename=toy.filename) }}"
            alt="{{toy.name}}"
            class="card__image" />
        {% if session['shopping_cart'][toy.index] > 0 %}
          <p class="card__items">{{session['shopping_cart'][toy.index]}} in cart</p>
        {% endif %}
        </div>
        <div class="card__body">
          <h2>{{toy.name}}</h2>
          <p>${{toy.price}}</p>
        </div>
        <button class="card__button"><a href="{{ url_for('add_item_to_cart', id=toy.index) }}">Add to Cart</a></button>
      </div>
  {% endfor %}

</div>
{% endblock %}
