{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cart_style.css') }}">
{% endblock %}

{% block content %}
<div class="cart-container">
  <h2 class="cart-title">Shopping Cart</h2>

  {% for toy in toys %}
    {% if session['shopping_cart'][toy.index] > 0 %}
      <div class="item">
        <div class="item__image">
          <img
            src="{{ url_for('static', filename=toy.filename) }}"
            alt="{{toy.name}}"
            class="card__image" />
        </div>
        <div class="item__body">
          <h2>{{ toy.name }}</h2>
          <p>Quantity: {{ session['shopping_cart'][toy.index] }}</p>
          <p>Price: $ {{ toy.price }}</p>
        </div>
        <div class="item__subtotal">
          <h2>${{ session['shopping_cart'][toy.index] * toy.price }}</h2>
        </div>
      </div>
    {% endif %}
  {% endfor %}

  <h1>${{ cart_total_price }}</h1>

  <div class="buttons">
    <button class="buttons__checkout"><a href="{{ url_for('checkout') }}">Checkout</a></button>
    <button class="buttons__empty"><a href="{{ url_for('empty_shopping_cart') }}">Empty Cart</a></button>
  </div>
</div>
{% endblock %}
